{% extends 'dcsearch/base_with_header.html' %}
{% load static %}

{% block page_meta%}
	{% with title='About' description='OpenDaL is a dataset search engine that allows you to search more than 500 data portals in one place. It includes data from government, community and research data portals from all over the world and across disciplines.' %}
		{{ block.super }}
	{% endwith %}
{% endblock %}
{% block page_heading%}
	{% with title='About' subtitle='Goal, Features and Frequently Asked Questions' %}
		{{ block.super }}
	{% endwith %}
{% endblock %}

{% block navbar%}
	{% with pgid='about' %}
		{{ block.super }}
	{% endwith %}
{% endblock %}

{% block main %}
	<main>
		<section class="centered">
			<p>
				Finding datasets for a research study, project or just out of curiosity, can be quite hard. First you need to find the databases or websites that may contain the data, and then you need to search each one individually. Traditional search engines are not ideal, because they are not restricted to datasets and cannot filter for dataset properties such as subject or data format. Although dataset search engines exist, these are often focussed on a single discipline, region or type of publisher.
			</p>
			<p>
				The Open Data Library (OpenDaL) is a dataset search engine that’s built with these issues in mind. It enables you to search more than 500 data portals in one place, and includes data from government, community and research data portals from all over the world and across disciplines. In addition to keyword based search, you can filter search results by dataset properties, such as data format, location, subject, data type or temporal coverage.
			</p>
			<p>
				OpenDaL is a free service that can be used by anyone, and is continuously updated. Wonder what’s next? <a href="#" id="register">Sign up</a> for updates, so you’re notified when new features are released!
			</p>
		</section>
		<section class="nskew-box-tinted before-white">
			<div class="centered wider">
				<h3>Features</h3>
				<p class="subtitle">How is OpenDaL different from other search engines?</p>
				<div class="feature-group">
					<div class="feature">
						<img src="{% static 'dcsearch/images/metadata.svg' %}" alt="Metadata Tags Icon">
						<h4>Metadata Search</h4>
						<p>
							In addition to keyword filters, you can filter search results based on dataset properties such as type, subject, format or temporal coverage
						</p>
					</div>
					<div class="feature">
						<img src="{% static 'dcsearch/images/geographic.svg' %}" alt="Map Pin Icon">
						<h4>Spatial Filters</h4>
						<p>
							Many datasets are about specific locations. Draw a bounding box on the map, to find data about your area of interest
						</p>
					</div>
					<div class="feature">
						<img src="{% static 'dcsearch/images/database_network.svg' %}" alt="Map Pin Icon">
						<h4>Combining Portals</h4>
						<p>
							Find data from hundreds of government data, research data or community data portals from all over the world, across disciplines.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="centered faqs">
			<h3>Frequently Asked Questions</h3>
			<div class="faq">
				<div class="faq-question" onclick="this.parentElement.classList.toggle('expanded')">Who is OpenDaL aimed at?</div>
				<div class="faq-answer">
					OpenDaL is aimed at anyone who wants to find data about a specific subject, for example students, PhD's or postdocs working on a research study, consultants working on a project, or just curious consumers, such as people who want to know more about historic wheather phenomena in their area.
				</div>
			</div>
			<div class="faq">
				<div class="faq-question" onclick="this.parentElement.classList.toggle('expanded')">Can OpenDaL be used commercially?</div>
				<div class="faq-answer">
					The search-functionality of OpenDaL is open-to-all, and can be used by anyone. However, invidual datasets that are found through OpenDaL may have more restrictive terms of use. To find the terms of use for a specific dataset, follow the link to the original data portal.
				</div>
			</div>
			<div class="faq">
				<div class="faq-question" onclick="this.parentElement.classList.toggle('expanded')">How is OpenDaL different from other search Engines?</div>
				<div class="faq-answer">
					In comparison to traditional search engines, such as Google and Bing, the search results in OpenDaL are restricted to datasets only, and results can be filtered by dataset specific properties such as data format, location, subject or temporal coverage. Existing dataset search engines often focuss on specific disciplines, geographic areas or are restricted to the research domain, where OpenDaL includes government data, community data and research data, accross disciplines, from all over the world. Although there are some dataset search engines, that offer a comparable diversity of data, these do not provide the search result filters based on dataset properties, that OpenDaL does.
				</div>
			</div>
			<div class="faq">
				<div class="faq-question" onclick="this.parentElement.classList.toggle('expanded')">What type of data can I find with OpenDaL?</div>
				<div class="faq-answer">
					OpenDaL allows you to find all kinds of datasets from all over the world and across disciplines, such as election results, climate scenarios, city plans, survey data, rainfall time series or satellite images, among many others. Any data that's published in the connected government, community or research data portals, can be found through OpenDaL. Although the main use of OpenDaL is to search for datasets, documents, such as reports, software code and data services, such as online dashboards or APIs, can also be found using OpenDaL, as long as they’re published by one of the connected data portals.
				</div>
			</div>
		</section>
	</main>
	<div id="reg-overlay">
		<div class="popup">
			<div class="topbar"><a class="close" href="#"></a></div>
			<p>Please provide your email address to receive updates about OpenDal</p>
			<!-- Begin Mailchimp Signup Form -->
			<form action="https://opendatalibrary.us20.list-manage.com/subscribe/post?u=010c2c57bfbab00fee0a5f85e&amp;id=d75d3ff395" method="post" name="mc-embedded-subscribe-form">
					<input type="email" value="" name="EMAIL" placeholder="Your Email">
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_010c2c57bfbab00fee0a5f85e_d75d3ff395" tabindex="-1" value=""></div>
					<input type="submit" value="Keep me updated!" name="subscribe" id="mc-embedded-subscribe" class="button">
			</form>
			<!--End mc_embed_signup-->
		</div>
	</div>
	<script type="text/javascript">
		// Signup popup
		var regButton = document.querySelector('#register')
		var regPopup = document.querySelector('#reg-overlay')
		var closeButton = document.querySelector('#reg-overlay .popup .close')

		function togglePopup(e) {
			regPopup.classList.toggle('visible');
			e.stopPropagation();
		}
		regButton.addEventListener('click', togglePopup)
		closeButton.addEventListener('click', togglePopup)
	</script>
{% endblock %}
