<div id="search-tips" class="search-tips{% if expanded %} expanded{% endif %}{% if not tips %} hide{% endif %}">
    <div class="search-tips-header" onclick="this.parentElement.classList.toggle('expanded')">
        <h4>Search Tips</h4>
    </div>
{% if tips %}
    {% for tip in tips %}
    <div class="single-search-tip">
        {{ tip|safe }}
    </div>
    {% endfor %}
{% endif %}
    <div class="search-tips-footer">
        <a href="#" onclick="requestQueryEdit();">Change query</a>
    </div>
</div>
